.navbar-custom {
    min-height: 80px;
    background-image: linear-gradient(to right top, #c06eb9, #c374c1, #c67bc8, #c981d0, #cc88d7, #c986dc, #c584e1, #c182e6, #b378ea, #a16eef, #8a66f5, #6c5ffb);
    text-align: center;
    text-rendering: optimizeLegibility;
}

/* Cambiar el font-family*/
body {
    font-family: 'Roboto', sans-serif;
}

